---
import FolioCard from "../components/FolioCard.astro"
import Layout from '../layouts/Default.astro';

---
<Layout title="HeliCode">

<div class="flex justify-around flex-wrap">
<FolioCard title="itvectura" description="Сайт IT-комапании" img="/img/folio/itvectura.jpg" link="#"/>
<FolioCard title="Карта для блога" description="На основе MapBox" img="/img/folio/mapbox.jpg" link="#"/>
<FolioCard title="Сайт стилиста" description="Описание услуг и цен" img="/img/folio/fashion.jpg" link="#"/>
<FolioCard title="Парсер телеграмм каналов" description="Репост новостей" img="/img/folio/heligram.jpg" link="#"/>


</div>
</Layout>
